@model MvcPlaces.ModelsImport.Country

@{
    ViewData["Title"] = "Cannot Import";
}

<h2>Cannot Import</h2>

<h3>This Country cannot be imported!</h3>
<div>
    <h4>Continent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Isocode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Isocode)
        </dd>
    </dl>

    <form asp-action="CannotImport">
        <input type="submit" value="Confirm" class="btn btn-default" /> |
    </form>
</div>