@model MvcPlaces.ViewModels.Models.Main.PlaceGroupView

@{
    ViewData["Title"] = "Details";
}

<br />
<partial name="DetailsMenu" />
<br />
<partial name="DetailsHeader" />

@*<div class="card-deck">
        @if (Model.Places.Count > 0)
        {
            <div class="card border-0" style="height:70px">
                <div class="card-body bg-warning text-black-50 rounded">
                    <div class="d-flex">
                        <div><i class="fas fa-map-marked" style="font-size:30px"></i></div>
                        <div class="pl-3"><b>Regions</b></div>
                        <div class="ml-auto">
                            <b>@Model.Territories.Count</b>
                            <a asp-action="TerritoriesList" asp-route-id="@Model.Id"><i class='fas fa-angle-right text-black-50'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }

        @foreach (var item in Model.Territories.OrderBy(x => x.Name))
        {
            <div class="card border-0" style="height:70px">
                <div class="card-body bg-success text-black-50 rounded">
                    <div class="d-flex">
                        <div>
                            <img class="rounded" src="@item.FlagImage" alt="Card image" style="height:25px;object-fit: cover;overflow: hidden;opacity:0.3">
                        </div>
                        @if (item.Name.Length > 20)
                        {
                            <div class="pl-3"><small><b>@item.Name</b></small></div>
                        }
                        else
                        {
                            <div class="pl-3"><b>@item.Name</b></div>
                        }
                        <div class="ml-auto">
                            <a asp-controller="Territory" asp-action="Details" asp-route-id="@item.Id"><i class='fas fa-angle-right text-black-50'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>*@

<div class="alert alert-primary rounded p-2">
    <div class="d-flex">
        <div class="p-2">
            @Model.Description
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card border-0">
        <div class="card-header bg-dark text-white shadow">Main</div>
        <div class="card-body bg-light rounded-bottom" style="height:200px;max-height:200px;overflow-y:auto;">
            <div class="d-flex">
                <div class="w-25 p-1 pl-3 mb-1 bg-secondary text-white"><label asp-for="Id"></label></div>
                <div class="w-75 p-1 pl-3 mb-1 bg-white">@Model.Id</div>
            </div>
            <div class="d-flex">
                <div class="w-25 p-1 pl-3 mb-1 bg-secondary text-white"><label asp-for="Name"></label></div>
                <div class="w-75 p-1 pl-3 mb-1 bg-white">@Model.Name</div>
            </div>
            <div class="d-flex">
                <div class="w-25 p-1 pl-3 mb-1 bg-secondary text-white"><label asp-for="Icon"></label></div>
                <div class="w-75 p-1 pl-3 mb-1 bg-white">@Model.Icon</div>
            </div>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-header bg-dark text-white">Places</div>
        <div class="card-body bg-light p-0 rounded-bottom" style="height:200px;max-height:200px;overflow-y:auto;">
  
        </div>
    </div>
</div>

    @*<div class="card-deck">
            @if (Model.Territories.Count > 0)
            {
                <div class="card border-0" style="height:70px">
                    <div class="card-body bg-warning text-black-50 rounded">
                        <div class="d-flex">
                            <div><i class="fas fa-map-marked" style="font-size:30px"></i></div>
                            <div class="pl-3"><b>Regions</b></div>
                            <div class="ml-auto">
                                <b>@Model.Territories.Count</b>
                                <a asp-action="TerritoriesList" asp-route-id="@Model.Id"><i class='fas fa-angle-right text-black-50'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @foreach (var item in Model.Territories.OrderBy(x => x.Name))
            {
                <div class="card border-0" style="height:70px">
                    <div class="card-body bg-success text-black-50 rounded">
                        <div class="d-flex">
                            <div>
                                <img class="rounded" src="@item.FlagImage" alt="Card image" style="height:25px;object-fit: cover;overflow: hidden;opacity:0.3">
                            </div>
                            @if (item.Name.Length > 20)
                            {
                                <div class="pl-3"><small><b>@item.Name</b></small></div>
                            }
                            else
                            {
                                <div class="pl-3"><b>@item.Name</b></div>
                            }
                            <div class="ml-auto">
                                <a asp-controller="Territory" asp-action="Details" asp-route-id="@item.Id"><i class='fas fa-angle-right text-black-50'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
        <div class="card-deck">
            <div class="card border-0">
                <div class="card-header bg-dark text-white shadow">Main</div>
                <div class="card-body bg-light" style="height:300px;max-height:300px;overflow-y:auto;">
                    <div class="d-flex">
                        <div class="w-25 p-1 pl-3 mb-1 bg-secondary text-white"><label asp-for="Id"></label></div>
                        <div class="w-75 p-1 pl-3 mb-1 bg-white">@Model.Id</div>
                    </div>
                    <div class="d-flex">
                        <div class="w-25 p-1 pl-3 mb-1 bg-secondary text-white"><label asp-for="LocalName"></label></div>
                        <div class="w-75 p-1 pl-3 mb-1 bg-white">
                            @if (String.IsNullOrEmpty(Model.LocalName))
                            {
                                <span>--</span>
                            }
                            else
                            {
                                <small>@Model.LocalName</small>
                            }
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="w-25 p-1 pl-3 mb-1 bg-secondary text-white"><label asp-for="Latitude"></label></div>
                        <div class="w-75 p-1 pl-3 mb-1 bg-white">@Model.LatitudeDegrees</div>
                    </div>
                    <div class="d-flex">
                        <div class="w-25 p-1 pl-3 mb-1 bg-secondary text-white"><label asp-for="Longitude"></label></div>
                        <div class="w-75 p-1 pl-3 mb-1 bg-white">@Model.LongitudeDegrees</div>
                    </div>
                    <div class="d-flex">
                        <div class="w-25 p-1 pl-3 mb-1 bg-secondary text-white"><label asp-for="Zoom"></label></div>
                        <div class="w-75 p-1 pl-3 mb-1 bg-white">@Model.ZoomString</div>
                    </div>
                </div>
            </div>
            <div class="card border-0">
                <div class="card-header bg-dark text-white">Map</div>
                <div class="card-body bg-light p-0" style="height:300px;max-height:300px;overflow-y:auto;">
                    <partial name='PartialMap' model='new { Name = Model.Name, Latitude = Model.LatitudeValue, Longitude = Model.LongitudeValue, Zoom = Model.ZoomValue }' />
                </div>
            </div>
        </div>*@
