@model MvcPlaces.ViewModels.Models.Main.PlaceView

@{
    ViewData["Title"] = "Details";
}

<br />
<partial name="DetailsMenu" />
<br />
<partial name="DetailsHeader" />

<div class="card-deck">
    <div class="card rounded-0">
        <div class="card-header bg-dark text-white rounded-0">Main</div>
        <div class="card-body bg-light" style="height:250px;max-height:250px;overflow-y:auto;">
            <div class="d-flex">
                <div class="w-25 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label asp-for="Id"></label></div>
                <div class="w-75 p-1 pl-4 mb-1 bg-white">@Model.Id</div>
            </div>
            <div class="d-flex">
                <div class="w-25 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label asp-for="LocalName"></label></div>
                <div class="w-75 p-1 pl-4 mb-1 bg-white">
                    @if (String.IsNullOrEmpty(Model.LocalName))
                    {
                        <span>--</span>
                    }
                    else
                    {
                        <small>@Model.LocalName</small>
                    }
                </div>
            </div>
            <div class="d-flex">
                <div class="w-25 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label asp-for="Latitude"></label></div>
                <div class="w-75 p-1 pl-4 mb-1 bg-white">@Model.LatitudeDegrees</div>
            </div>
            <div class="d-flex">
                <div class="w-25 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label asp-for="Longitude"></label></div>
                <div class="w-75 p-1 pl-4 mb-1 bg-white">@Model.LongitudeDegrees</div>
            </div>
            <div class="d-flex">
                <div class="w-25 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label asp-for="Zoom"></label></div>
                <div class="w-75 p-1 pl-4 mb-1 bg-white">@Model.ZoomString</div>
            </div>
        </div>
    </div>
    <div class="card rounded-0">
        <div class="card-header bg-dark text-white rounded-0">Stats</div>
        <div class="card-body bg-light" style="height:250px;max-height:250px;overflow-y:auto;">
            <div class="d-flex">
                <div class="w-50 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label>Territories</label></div>
                <div class="w-50 p-1 pl-4 mb-1 bg-white"><a asp-action="TerritoriesList" asp-route-id="@Model.Id">@Model.Territories.Count</a></div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="card-deck">
    <div class="card rounded-0">
        <div class="card-header bg-dark text-white rounded-0">
            <div style="display:inline-block;float:left">Territories</div>
            <div style="display:inline-block;float:right">
                <a asp-controller="TerritoryPlace" asp-action="CreateByPlace" asp-route-id="@Model.Id" style="color:white" title="Add Territory">+</a>
            </div>
        </div>
        <div class="card-body bg-light" style="height:250px;max-height:250px;overflow-y:auto;">
            @if (Model.Territories.Count > 0)
            {
                foreach (var item in Model.Territories.OrderBy(x => x.Name))
                {
                    <div class="d-flex">
                        <div class="w-100 p-1 pl-4 mb-1 bg-white text-dark">
                            <a asp-controller="Territory" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="d-flex">
                    <div class="w-100 p-1 pl-4 mb-1 bg-white">
                        <span>--</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>