@model MvcPlaces.ViewModels.Models.Main.ContinentView

@{
    ViewData["Title"] = "Details";
}

<br />
<partial name="DetailsMenu" />
<br />
<partial name="DetailsHeader" />

<div class="card-deck">
    <div class="card rounded-0">
        <div class="card-header bg-dark text-white rounded-0">Details</div>
        <div class="card-body bg-light">
            <div class="d-flex">
                <div class="w-25 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label asp-for="Id"></label></div>
                <div class="w-75 p-1 pl-4 mb-1 bg-white"><span asp-for="Id">@Model.Id</span></div>
            </div>
            <div class="d-flex">
                <div class="w-25 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label asp-for="Name"></label></div>
                <div class="w-75 p-1 pl-4 mb-1 bg-white"><span asp-for="Name">@Model.Name</span></div>
            </div>
            <div class="d-flex">
                <div class="w-25 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label asp-for="Code"></label></div>
                <div class="w-75 p-1 pl-4 mb-1 bg-white"><span asp-for="Code">@Model.Code</span></div>
            </div>
            <div class="d-flex">
                <div class="w-25 p-1 pr-4 mb-1 bg-secondary text-white text-right"><label asp-for="ParentId"></label></div>
                <div class="w-75 p-1 pl-4 mb-1 bg-white">
                    @if(Model.ParentId.HasValue)
                    {
                        <a asp-action="Details" asp-route-id="@Model.ParentId">@Model.Parent.Name</a>
                    }
                    else
                    {
                        <span>--</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>